h1 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    background-color: blue;
    color: white;
    width: 250px;
    height: 85px;
}

button:hover {

    background-color: green;
}

p {
    font-size: 35px;
}